@{
    ViewBag.Title = "Thankyou";
    Layout = "~/Views/Shared/_Layout1.cshtml";
 }

<!-- Thank you section -->
<section id="aa-error">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="aa-error-area">
                    <h2>Thank You</h2>
                    <span>Your Order was completed Successfully.</span>
                    <p>IsDB-BISEW Your Trusted Online Shop.</p>
                    <a href="@Url.Action("Index","Home")"> Go to Homepage</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- / Thank you section -->
