<div class="row">
    <div class="col-8 mb-2">
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>Operation Failed</strong> Something Going Wrong..
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>