<div class="row">
    <div class="col-8 mb-2">
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Operation Performed</strong> Data Inserted Successfually!!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
</div>